<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="posts">Posts</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="new-post">Add a New Post</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="users">Users</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="new-user">Add a New User</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="user-search">Search Users</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="date-time-form">DateTime Form</a>
            </li>
        </ul>
    </div>
</nav>